<!DOCTYPE html>
<html>
  <head>
    <title>My Posts</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/post">Post</a></li>
          <li><a href="/myposts">My Posts</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>

    <h1>My Posts Page</h1>
  </body>
</html>
