<!DOCTYPE html>
<html>
  <head>
    <title>Post a Photo</title>
  </head>
  <body>
    <h1>Post a Photo of Your Cat</h1>
    <form action="/post" method="post">
      <label for="catName">Cat Name:</label>
      <input type="text" id="catName" name="catName"><br><br>
      <label for="catImage">Cat Image:</label>
      <input type="file" id="catImage" name="catImage"><br><br>
      <label for="caption">Caption:</label>
      <textarea id="caption" name="caption"></textarea><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
